<div class="container my-5">
  <div class="row g-4">
    <div class="dropdown">
      <button
        class="btn btn-outline-dark dropdown-toggle "
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Filter By Category
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let category of categories">
          <a
            class="dropdown-item text-capitalize"
            [ngClass]="{ active: selectedCategory === category }"
            (click)="onFilterCategory(category)"
            >{{ category }}</a
          >
        </li>
      </ul>
    </div>
    <div
      *ngFor="let product of productArr; let i = index"
      class="col-md-6 col-sm-12 col-lg-4 d-flex justify-content-center"
    >
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
